Repository fluffypony/mcp-clipboardify: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, bandit, import-linter, pylint

vulture:
  name: vulture
  entry: poetry run vulture
  language: system
  args:
  - --min-confidence
  - '100'
  - .vulture-whitelist

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - --skip
  - B101,B106,B311,B601,B603,B604,B607,B608

import-linter:
  name: import-linter
  entry: poetry run lint-imports
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --fail-under=9.5

Fix pylint issues - line lengths, exceptions, imports, and refactor duplicate code
  src/mcp_clipboard_server/__init__.py
  src/mcp_clipboard_server/_clipboard_utils.py
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_logging_config.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_tool_schemas.py
  src/mcp_clipboard_server/cli.py
  src/mcp_clipboard_server/clipboard.py
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/tools.py
  tests/test_protocol.py
  tests/test_server.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Final fixes for type annotations and formatting consistency
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  docs/platform_guide.md
  docs/troubleshooting.md
  scripts/verify_installation.sh
  src/mcp_clipboard_server/__init__.py
  src/mcp_clipboard_server/_clipboard_utils.py
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_logging_config.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_validators.py
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/tools.py
  tests/__init__.py
  tests/test_platform_specific.py
Due: vulture, bandit, import-linter, pylint

Fix failing tests in test_platform_specific.py and test_server.py
  tests/test_clipboard.py
  tests/test_platform_specific.py
  tests/test_server.py
  tests/test_tools.py
Due: import-linter

Fix mock patches in test_tools.py for clipboard functions
  tests/test_tools.py
Due: import-linter

Apply ruff code formatting to entire codebase
  tests/test_platform_specific.py
  tests/test_tools.py
Due: import-linter

Fix ruff F841 issue: remove unused mock_copy variable
  tests/test_platform_specific.py
Due: import-linter

Fix import paths for private validators module in verification script
  scripts/verify_installation.py
Due: vulture, bandit, import-linter, pylint

Fix test isolation issues and asyncio cleanup warnings
  tests/test_mcp_integration.py
  tests/test_platform_specific.py
Due: import-linter

Apply ruff code formatting to entire codebase
  tests/test_mcp_integration.py
  tests/test_platform_specific.py
Due: import-linter

Fix test isolation issues in clipboard tests
  conftest.py
  tests/test_e2e.py
  tests/test_integration.py
  tests/test_mcp_integration.py
  tests/test_platform_specific.py
Due: vulture, bandit, import-linter, pylint

Apply ruff code formatting to entire codebase
  conftest.py
  tests/test_e2e.py
  tests/test_platform_specific.py
Due: vulture, bandit, import-linter, pylint

Fix ruff import sorting issues
  scripts/verify_installation.py
  src/mcp_clipboard_server/_clipboard_utils.py
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_logging_config.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_tool_schemas.py
  src/mcp_clipboard_server/_validators.py
  src/mcp_clipboard_server/cli.py
  src/mcp_clipboard_server/clipboard.py
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/tools.py
  tests/test_clipboard.py
  tests/test_e2e.py
  tests/test_integration.py
  tests/test_mcp_integration.py
  tests/test_platform_specific.py
  tests/test_protocol.py
  tests/test_server.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Fix vulture and pylint issues in conftest.py
  conftest.py
Due: vulture, bandit, import-linter, pylint

Add API reference documentation
  docs/api_reference.md
Due: none

docs: add comprehensive technical documentation
  docs/architecture.md
  docs/development_guide.md
Due: none

Rename package from mcp-clipboard-server to mcp-clipboardify
  CHANGELOG.md
  README.md
  docs/api_reference.md
  docs/architecture.md
  docs/development_guide.md
  docs/platform_guide.md
  docs/troubleshooting.md
  pyproject.toml
  scripts/publish_production.py
  scripts/publish_test.py
  scripts/verify_installation.py
  scripts/verify_installation.sh
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_version.py
  src/mcp_clipboard_server/cli.py
  tests/test_integration.py
  tests/test_mcp_integration.py
  tests/test_server.py
Due: vulture, bandit, import-linter, pylint

Clean up bug report template and remove empty AGENT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  AGENT.md
Due: none

Fix critical protocol version inconsistencies in docs and tests
  docs/api_reference.md
  tests/fixtures/sample_requests.json
  tests/test_integration.py
  tests/test_server.py
Due: import-linter

Improve README navigation and fix broken link to CONTRIBUTING.md
  README.md
Due: none

Clean up trailing whitespace and fix markdown header spacing
  CHANGELOG.md
  README.md
  docs/api_reference.md
  docs/architecture.md
  docs/development_guide.md
  docs/platform_guide.md
  docs/troubleshooting.md
Due: none

Replace broken badge.fury.io link with shields.io alternative
  README.md
Due: none

Path conditions:
  vulture: any of: \.py$, but not: ^(tests/.*)$
  bandit: any of: \.py$, but not: ^(tests/.*)$
  import-linter: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/.*)$
