Repository fluffypony/mcp-clipboardify: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, bandit, import-linter, pylint

vulture:
  name: vulture
  entry: poetry run vulture
  language: system
  args:
  - --min-confidence
  - '100'
  - .vulture-whitelist

bandit:
  name: bandit
  entry: poetry run bandit
  language: system
  args:
  - --skip
  - B101,B106,B311,B601,B603,B604,B607,B608

import-linter:
  name: import-linter
  entry: poetry run lint-imports
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --fail-under=9.5

Add cross-platform clipboard module with error handling
  src/mcp_clipboard_server/clipboard.py
  tests/__init__.py
  tests/test_clipboard.py
Due: vulture, bandit, import-linter, pylint

Implement JSON-RPC 2.0 protocol handler with validation
  src/mcp_clipboard_server/protocol.py
  tests/test_protocol.py
Due: vulture, bandit, import-linter, pylint

Add MCP tool implementations with validation and schemas
  src/mcp_clipboard_server/tools.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Implement MCP server with JSON-RPC message handling and main entry point
  src/mcp_clipboard_server/__main__.py
  src/mcp_clipboard_server/server.py
  tests/test_server.py
Due: vulture, bandit, import-linter, pylint

Add comprehensive integration tests with subprocess communication
  tests/fixtures/sample_requests.json
  tests/test_integration.py
Due: import-linter

Fix test failures for notification handling
  poetry.lock
  tests/test_server.py
Due: import-linter

Add MCP protocol data structures and handler
  src/mcp_clipboard_server/mcp_handler.py
  src/mcp_clipboard_server/protocol_types.py
  src/mcp_clipboard_server/tool_schemas.py
Due: vulture, bandit, import-linter, pylint

Integrate new MCP handler and structured logging
  src/mcp_clipboard_server/__init__.py
  src/mcp_clipboard_server/__main__.py
  src/mcp_clipboard_server/errors.py
  src/mcp_clipboard_server/logging_config.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/tool_schemas.py
  tests/test_mcp_integration.py
Due: vulture, bandit, import-linter, pylint

Fix integration test subprocess handling and add file descriptions"
  tests/test_mcp_integration.py
Due: import-linter

Add CLI module with graceful shutdown and enhanced error recovery
  src/mcp_clipboard_server/__main__.py
  src/mcp_clipboard_server/cli.py
  src/mcp_clipboard_server/server.py
Due: vulture, bandit, import-linter, pylint

Add centralized validation module with enhanced error handling
  src/mcp_clipboard_server/clipboard.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/validators.py
Due: vulture, bandit, import-linter, pylint

Complete package metadata and build configuration with PyPI-ready settings
  pyproject.toml
  setup.py
  src/mcp_clipboard_server/cli.py
Due: vulture, bandit, import-linter, pylint

Add comprehensive README documentation and end-to-end subprocess tests
  README.md
  tests/test_e2e.py
Due: import-linter

Fix initialization response and error message formats
  poetry.lock
  src/mcp_clipboard_server/mcp_handler.py
  src/mcp_clipboard_server/protocol_types.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/validators.py
Due: vulture, bandit, import-linter, pylint

Add platform-specific clipboard fallback handling
  src/mcp_clipboard_server/clipboard.py
Due: vulture, bandit, import-linter, pylint

Add comprehensive platform-specific test cases
  tests/test_e2e.py
  tests/test_platform_specific.py
  tests/test_tools.py
Due: import-linter

Add cross-platform CI/CD workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Add PyPI test publishing and installation verification scripts
  pyproject.toml
  scripts/publish_test.py
  scripts/verify_installation.py
  scripts/verify_installation.sh
Due: vulture, bandit, import-linter, pylint

Add comprehensive platform-specific documentation
  README.md
  docs/platform_guide.md
  docs/troubleshooting.md
Due: none

Prepare v1.0.0 release with changelog and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  pyproject.toml
  scripts/publish_production.py
  src/mcp_clipboard_server/__init__.py
Due: vulture, bandit, import-linter, pylint

Add context manager protocol to MCPServerProcess
  tests/test_e2e.py
Due: import-linter

Consolidate tool schema definitions to eliminate duplication
  src/mcp_clipboard_server/tools.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Add pytest-timeout plugin support and configure default timeout
  poetry.lock
  pyproject.toml
Due: none

Mark internal modules as private with underscore prefixes
  src/mcp_clipboard_server/__init__.py
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_logging_config.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_protocol_types.py
  src/mcp_clipboard_server/_tool_schemas.py
  src/mcp_clipboard_server/_validators.py
  src/mcp_clipboard_server/cli.py
  src/mcp_clipboard_server/clipboard.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/tools.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Integrate JSON Schema validation into tool execution
  src/mcp_clipboard_server/_mcp_handler.py
Due: vulture, bandit, import-linter, pylint

Add JSON-RPC batch request support
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/server.py
Due: vulture, bandit, import-linter, pylint

Consolidate error handling and remove duplicate JsonRpcRequest
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_protocol_types.py
Due: vulture, bandit, import-linter, pylint

Update documentation with JSON-RPC 2.0 compliance and batch support
  README.md
  src/mcp_clipboard_server/_protocol_types.py
  src/mcp_clipboard_server/protocol.py
Due: vulture, bandit, import-linter, pylint

Fix JSON-RPC type definitions to resolve import errors
  src/mcp_clipboard_server/_protocol_types.py
Due: vulture, bandit, import-linter, pylint

Fix test failures after consolidation changes
  src/mcp_clipboard_server/server.py
  tests/test_protocol.py
  tests/test_server.py
Due: vulture, bandit, import-linter, pylint

Fix WSL platform guidance priority and test expectations
  src/mcp_clipboard_server/clipboard.py
  tests/test_clipboard.py
Due: vulture, bandit, import-linter, pylint

Add missing dev dependencies for linting and type checking
  pyproject.toml
Due: none

Fix release workflow job outputs for version sharing
  .github/workflows/release.yml
Due: none

Add Wayland clipboard support with wl-clipboard fallback
  src/mcp_clipboard_server/clipboard.py
Due: vulture, bandit, import-linter, pylint

Update Python version requirement for flake8 compatibility
  poetry.lock
  pyproject.toml
Due: none

Fix import architecture violations
  .github/workflows/release.yml
  .github/workflows/test.yml
  .importlinter
  poetry.lock
  pyproject.toml
  src/mcp_clipboard_server/__init__.py
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_protocol_types.py
  src/mcp_clipboard_server/_version.py
  src/mcp_clipboard_server/clipboard.py
Due: vulture, bandit, import-linter, pylint

Reduce code complexity in high CC functions
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/server.py
Due: vulture, bandit, import-linter, pylint

Apply ruff code formatting to entire codebase
  pylint-report.json
  scripts/publish_production.py
  scripts/publish_test.py
  scripts/verify_installation.py
  src/__init__.py
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_logging_config.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_protocol_types.py
  src/mcp_clipboard_server/_tool_schemas.py
  src/mcp_clipboard_server/_validators.py
  src/mcp_clipboard_server/cli.py
  src/mcp_clipboard_server/clipboard.py
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/server.py
  src/mcp_clipboard_server/tools.py
  tests/test_clipboard.py
  tests/test_e2e.py
  tests/test_integration.py
  tests/test_mcp_integration.py
  tests/test_platform_specific.py
  tests/test_protocol.py
  tests/test_server.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Fix ruff linting issues - explicit re-exports and unused variables
  src/mcp_clipboard_server/__init__.py
  tests/test_tools.py
Due: vulture, bandit, import-linter, pylint

Fix mypy type checking issues across all modules
  poetry.lock
  pyproject.toml
  src/mcp_clipboard_server/_errors.py
  src/mcp_clipboard_server/_logging_config.py
  src/mcp_clipboard_server/_mcp_handler.py
  src/mcp_clipboard_server/_tool_schemas.py
  src/mcp_clipboard_server/_validators.py
  src/mcp_clipboard_server/cli.py
  src/mcp_clipboard_server/protocol.py
  src/mcp_clipboard_server/server.py
Due: vulture, bandit, import-linter, pylint

Path conditions:
  vulture: any of: \.py$, but not: ^(tests/.*)$
  bandit: any of: \.py$, but not: ^(tests/.*)$
  import-linter: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/.*)$
